table th::first-letter {
    text-transform: uppercase;
}

.srvInfrastructure {
    color: #5d6da9;
    font-weight: bold;
    font-size: 13pt;
}

.srvOnline {
    color: green;
}

.srvOffline {
    color: red;
}

.srvUnstable, .srvUnknown {
    color: #f98f65;
}

.serverTitle {
    margin-bottom: 0px;
    padding-bottom: 0px;
    font-size: 13pt;
    font-weight: bold;
}

.queueText, .populationText {
    color: #6f6f6f;
    display: block;
}

.twitter-timeline {
    margin-top: 20px !important;
}

.navBtn {
    outline: none;
}

/* Pull header image faster */
.preload {
    background: url('../../resources/header') no-repeat -9999px -9999px;
}

.site-header {
    background: url('../../resources/header') center no-repeat;
    min-height: 216px;
    border-radius: 3px 3px 5px 5px;
    margin: 0px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: #FFF;
    text-shadow: 1px 1px 1px #000;
    position: relative;
}

.site-header:before {
    content:'';
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    display:inline-block;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.30) 0%, rgba(255, 255, 255, 0) 100%) repeat scroll 0 0;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.30) 0%, rgba(255, 255, 255, 0) 100%) repeat scroll 0 0;
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0.30) 0%, rgba(255, 255, 255, 0) 100%) repeat scroll 0 0;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.30) 0%, rgba(255, 255, 255, 0) 100%) repeat scroll 0 0;
}

.site-header > .title-wrapper > .title {
    font-size: 63px;
}


.site-header > .title-wrapper > .subtitle {
    color: #ffffff;
    font-size: 36px;
    margin-top: 0px;
}

#data-unavailable {
    background: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding-top: 30%;
    text-align: center;
}
#data-unavailable > span {
    font-size: 2em;
    color: white;
}

/**
 --- PAGE: OVERVIEW ---
*/

table#services-status-table {
    background-color: #fff;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

table#services-status-table tr:first-child th {
    border-top: 0px;
}

/*
 --- PAGE: SERVER-DETAILS
*/

div#pageServerDetails {

    padding: 20px;

    background-color: #FFF;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*
 --- BOOTSTRAP OVERRIDES ---
*/

.navbar-inverse {
  background-color: #121212;
}

.navbar-inverse .navbar-brand {
    color: #F5F5F5;
}

.navbar-inverse .navbar-nav > li > a {
    color: #BDBDBD;
}

@media (min-width: 768px) {
  .container-fluid {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 48px;
  }
}

.container-fluid {
    padding-top: 60px;
    background-color: #EEEEEE;
}

.custom-footer {
    text-align: center;
    margin-top: 25px;
    margin-bottom: 15px;
}


/*
 ---  RESPONSIVE STYLES  ---
 */
@media only screen and (max-width: 620px) {
    td.srvInfrastructure, span.serverTitle, span.srvOnline, td.srvLastUpdated {
        font-size: 10pt;
    }
    span.queueText, span.populationText {
        font-size: 8pt;
    }
}
